body {
    overflow:hidden;
    background-color: #FFFFFF;
}

table {width: 300px;}

.one {
    margin: 0 0 0 12%;
    float:left;
    top: 0;
}

.two {
    margin: 0 0 0 50%;
    top: 0;
    overflow:hidden;
}

tr.spaceUnder>td {
  padding-bottom: 2em;
}

/* ---------- P H O T O S       F R O S T E D  --------------- */
.project_title {
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 200px;
    transform: translate(0%, -100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 14pt;
}

.project {
    position: relative;
    text-align: center;
    width: 220px;
    height: 164px;
}

img{
    position: relative;
    float: left;
    width:  inherit;
    height: inherit;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 70px 70px 70px 70px;
    -moz-border-radius: 70px 70px 70px 70px;
    -webkit-border-radius: 70px 70px 70px 70px;
    border: 0px solid #000000;
    background-color: #d1c9b8;
}

.shadow {
    /*width: 200px;
    height: 164px;*/
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project:hover .shadow{
    border-radius: 70px 70px 70px 70px;
    -moz-border-radius: 70px 70px 70px 70px;
    -webkit-border-radius: 70px 70px 70px 70px;
    border: 0px solid #000000;
    background: rgba(211,211,211, 0.72);
}

.img__description {
    transform: translate(0%, 50%);
    color: #00000;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.project:hover .img__description {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 950px) {
    .one {
        float: none;
        width:auto;
        margin-right:0;
    }
    .two {
        margin: 0 0 0 12%;
    }
}

.p {
   font-family: 'Merriweather', serif;
    font-weight:300;
    font-size: 9pt;
    letter-spacing: 0.2px;
    line-height: 265%;
    max-width: 50ch;
    color: #484848;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20pt;
}

.aboutme  {
   font-family: 'Merriweather', serif;
    font-weight:300;
    font-size: 9pt;
    letter-spacing: 0.2px;
    line-height: 265%;
    max-width: 50ch;
    color: #484848;
}

.aboutme a:link, a:visited {
   font-family: 'Merriweather', serif;
   font-weight:300;
    font-size: 9pt;
    letter-spacing: 0.2px;
    line-height: 165%;
    max-width: 50ch;
    color: #484848;
    text-decoration: underline;
}

.icons a:link, a:visited {
    color: #484848;
    opacity: 0.6;
    font-size: 15pt;
}

.icons a:hover {
    color: #484848;
    opacity: 1;
    font-size: 15pt;
}


.icons a:visited {
    text-decoration: none;
}

.icons a:active {
    text-decoration: #222222;
}


* {
	margin: 0;
	padding: 0;
}
/*
.container_left {
    padding: 25% 5px 25px 50px;
}

.container_right {
    padding: 0% 5px 25px 5px;
}
*/

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
