
/*
DEFAULT OVERRIDES
*/
:root {
	--page-color: white;
	--text-color: black;
	--tw-text-opacity: 1;
	--text-hover-color: rgb(205 63 37/var(--tw-text-opacity));
	--line-color: #ddd;
}

* {
  cursor:default;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin:0;
  background:var(--page-color);
  font-family: monospace;
  line-height:1.3em;
  color:var(--text-color)
}

a {
	color: inherit;
	text-decoration: inherit
}

a:not(.no-style) {
  color:inherit;
  text-decoration:none;
  transition:color 0.2s ease-in-out
}

a:not(.no-style):hover {
  color:var(--text-hover-color)
}

a:not(.no-style)::before {
  color:var(--text-color)
}

a:not(.no-style)::after {
  color:var(--text-color)
}

/*
Custom IDs
*/
#header {
  min-height: 50px;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
Custom Classes
*/
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
  min-height: 50px;
	font-family: JetBrains Mono, monospace;
	font-size: .8125rem;
	line-height: 1.1rem;
  margin-bottom: 0px;
  z-index: 30;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 12px 16px;
  z-index: 1;
	top: 100%;
	left: -1rem;
	margin-left: -2px;
	margin-right: -2px;
  border: 2px solid black;
  background-color: white;
	padding-top: .25rem;
	padding-bottom: .25rem;
	box-shadow: 4px 4px rgba(0, 0, 0, .25);
}

.dropdown:hover .dropdown-content {
  display: grid;
}

/*
Main Content
*/
.receipt {
  width: 500px;
  background: #fff;
  border: 2px solid #000;
  padding: 4px;
	box-shadow: 4px 4px rgba(0, 0, 0, .25);
}

.header {
  text-align: center;
  border-bottom: 2px dashed #000;
  padding-bottom: 3px;
  margin-bottom: 4px;
}

.logo {
  background-color: #000;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.receipt-number {
  font-size: 16px;
  font-weight: bold;
  color: #d32f2f;
}

.business-name {
  font-size: 10px;
  font-weight: bold;
  color: #000;
  margin: 5px 0;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.items-table th,
.items-table td {
  border: 1px solid #000;
  padding: 2px 1px;
  text-align: left;
  font-size: 12px;
}

.items-table th {
  background: #e0e0e0;
  font-weight: bold;
}

.items-table tr:hover:not(.no-style) {
	--tw-text-opacity: 1;
	color: rgb(205 63 37/var(--tw-text-opacity))
}

.qty {
  text-align: center;
  width: 30px;
}

.amount {
  text-align: right;
  width: 80px;
}

.handwriting {
  font-family: JetBrains Mono, monospace;
  font-size: 12px;
}
