---
layout: library
---
	<article>
			<header>
			<h1><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></h1>
			</header>
		<img alt="{{page.title}} icon" class="app_icon" src="{{page.icon}}" />
		{{content}}

		<div class="project_links">
			<a title="Clone/fork the {{page.library}} project or view the issue tracker at Github" href="https://github.com/keeninvye/{{page.title}}">
				<img alt="Github project" class="github" height="35" src="/images/github.png" width="72" />
			</a>
		</div>

		<h2 id="installation">Installation</h2>

		<pre>
			<code>&gt; gem install {{page.library}}</code>
		</pre>
	</article>

	{% for post in site.tags.Billnye %}
		{% if post.tags contains 'Release' %}
			<h2><a href="{{post.url}}">{{post.title}}</a></h2>
			{{post.content}}
			<!--
			<ul>
			<li>Added new deployers: :rsync and :local</li>
			  <li>Removed 7z installation dependency on Windows (included 7za.exe in gem).</li>
			  <li>Fixes for Ruby 1.8.7</li>
			  <li>:osx_app build - Change directory into application directory before running app.</li>
			  <li>:osx_app build - Add BINARY to list of “fake” encodings.</li>
			</ul>-->
		{% endif %}
	{% endfor %}

